


.bg {
    background-image: url(../../asset/hinh-dep-19.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    position: fixed;  
}