.separate {
    position: relative;
}

.separate::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    width:1px;
    border-right: 1px solid #ccc;
    height: 100%;
}